<launch>
    <node name="lsm10_v2" pkg="lsm10_v2" type="lsm10_v2" output="screen">
    <param name="scan_topic" value="scan"/>         	#设置激光数据topic名称
    <param name="frame_id" value="laser"/>     	#激光坐标
    <param name="serial_port" value="/dev/wheeltec_lidar"/>    #雷达连接的串口
    <!--param name="versions" value="1"/-->			        #雷达协议选择 1 : 1.0.1协议/ 2 : 1.3.2协议
    </node>

</launch>

